@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root {
    --primary-font: 'Bebas Neue', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --primary-color: #b8ff03;
    --secondary-color: #737373;
}

.primary-font{
    font-family: var(--primary-font);
}

.secondary-font{
    font-family: var(--secondary-font);
}

@layer utilities {
    .transform-style-preserve-3d {
        transform-style: preserve-3d;
    }

    @keyframes marquee {
        0% {
            transform: translateY(0%);
        }

        100% {
            transform: translateY(-50%);
        }
    }

    @keyframes marquee-reverse {
        0% {
            transform: translateY(-50%);
        }

        100% {
            transform: translateY(0%);
        }
    }

    .animate-marquee {
        animation: marquee 18s linear infinite;
    }

    .animate-marquee-reverse {
        animation: marquee-reverse 18s linear infinite;
    }
}
body{
    scroll-behavior: smooth;
}
